.App {
    width: 600px;
    position: relative;
}
.App .img-main {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.App .title {
    position: absolute;
    top: 46px;
    left: 26px;
    z-index: 40;
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    color: #d1d1d1;
}
.App .title span {
    color: #ff83b1;
}

.App .button {
    position: absolute;
    top: 340px;
    left: 34px;
    z-index: 40;
}
.App .button button {
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: rgb(53, 50, 50);
    background-color: #ff83b1;
}

.App .button p {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #ff83b1;
}
.App .button .p_busy {
    color: #eeb85b;
}

.App .button button:last-child {
    background-color: #eeb85b;
    margin-left: 18px;
}

.App .avt {
    position: absolute;
    top: 39px;
    right: 35px;
    width: 68px;
    height: 68px;
    object-fit: cover;
    border-radius: 50%;
}

.home {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.home h3 {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.home .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home .list .list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.home .list .list-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}
.home .list .list-item span {
    font-size: 18px;
    font-family: 'Kaushan Script', cursive;
}

@media (max-width: 600px) {
    .App {
        width: 375px;
    }
    .App .img-main {
        width: 100%;
        object-fit: cover;
    }

    .App .title {
        top: 30px;
        left: 16px;
        font-size: 20px;
    }

    .App .button {
        position: absolute;
        top: 208px;
        left: 20px;
        z-index: 40;
    }

    .App .button p {
        font-size: 14px;
        line-height: 18px;
    }

    .App .button button {
        border-radius: 4px;
        padding: 4px 8px;
        font-size: 11px;
        line-height: 14px;
    }
    
    .App .button button:last-child {
        margin-left: 18px;
    }

    .App .avt {
        top: 26px;
        right: 24px;
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }


    .home {
        background-color: #fff;
        padding: 12px;
        border-radius: 10px;
    }
    .home h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .home .list .list-item {
        padding: 12px;
    }
    .home .list .list-item img {
        width: 40px;
        height: 40px;
        margin-bottom: 8px;
    }
    .home .list .list-item span {
        font-size: 16px;
        font-family: 'Kaushan Script', cursive;
    }
}